.news{
  display: flex;
  margin-bottom: 100px;
}
.news__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.news__item {
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
  margin-right: 2%;
}

.news__item:last-child{
  margin-right: 0;
}

.news__img {
  object-fit: cover;
}


.news__content {
position: absolute;
left: 0;
right: 0;
bottom: 0;
padding: 25px 30px;

}

.news__date {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
margin-bottom: 12px;

}
.news__title {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
margin-bottom: 3px;

}
.news__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  margin-top: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.paginator__display{
  margin-right: 15px;
}

.paginator__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .paginator__item{
    background: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
   }

.paginator__item:hover {
  background:  #FFFFFF;
  color:  #F5170E;;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
 }

.paginator__link{
   display: block;
   text-decoration: none;
   font-weight: bold;
 }
