.offers {
  margin-bottom: 127px;
  display: flex;
  justify-content: space-between;
}
.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 450px;
  background: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
  width: calc(100%/ 3 - 18px);
  overflow: hidden;
}

.offers__img {
  margin-bottom: 33px;
}
.offers__content {
  font-style: normal;
  font-weight: bold;
  padding: 0  22px;
}
.offers__title {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
margin-bottom: 21px;
color: #303030;
}

.offers__futures {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }

.offers__future {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  }

.offers__future-list {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 23px;
}


.offers__future-text {
color: #666666;
font-style: normal;
font-weight: normal;
font-size: 16px;
padding: 0 15px;
}

.offers__desc {
font-style: normal;
font-weight: normal;
font-size: 14px;
margin-bottom: 24px;
color: #303030;
}



