.reviews {
column-count: 2;
column-gap: 30px;
}


.reviews__item {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
  border-radius: 5px;
  margin-bottom: 20px;
}


.review__header {
  display: flex;
  align-items: center;
}


.avatar {
width: 142px;
height: 142px;
overflow: hidden;
border-radius: 50%;
}


.review__userdata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 24px;
  color: #2E77A4;
  margin-bottom: 11px;
}

.review__link:after {
  content: url(../../img/vk-bluepng.png);
  height: 30px;
 
}

.review__tags {
  display: flex;
  align-items: flex-start;
  
}

.tag {
  font-size: 13px;
  color: #303030;
  border-radius: 35px;
  background: #B9EAE4;
  padding: 10px 16px;
}

.tag:hover {
  background:  #B9EAE4;
  color:  #1A1B1E;
  border-radius: 35px;
  padding: 9px 16 px;
 }

 .review__title {
  font-weight: bold;
  font-size: 30px;
  color:  #1A1B1E;
  margin-bottom: 13px;
 }

 .review__desc {
  font-weight: normal;
  font-size: 16px;
  color:  #818181;
  margin-bottom: 27px;
 }

 .review__date {
  color: #1A1B1E;
  font-size: 14px;
 }

 .form__buttons {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 100px;
 }

 .button {
   cursor: pointer;
 }

 .button--black {
  background: #2B2B2B;
 }

 .button--black:hover {
  background: #F5170E;
  color: #FFFFFF;
 }

 .form__button {
   margin-right: 17px;
 }
 .form__button :last-child {
   margin-right: 0px;
 }
 