.about  {
  margin-bottom: 60px;
}

.about__container {
  position: relative;
  display: flex;
}

.about__img {
  position: absolute;
}

.about__content {
  justify-content: flex-end;
}

.about__cover {
  display: block;
  border-radius: 5px;
  object-fit: cover;
  z-index: 2px;
 
}

.about__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  
}

.about__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  width: 502px;
  color: #060606;
 
}


