

.about:before, .about__description {
  display: inline-block;
}

.about:before {
  margin-top: 124px;
  content: "";
  width: 490px;
  height: 505px;
  background: url(../../img/gates.png) center center / cover no-repeat;
}


.about__content{
  position: relative;
  max-width: 780px;
  min-height: 450px;
  margin-top: -400px;
  margin-left: 200px;
}

.about__img {
  display: block;
  border-radius: 5px;
  width: 785px;
  height: 455px;
  object-fit: cover;
  position: absolute;
}

.about__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  margin-top: 70px;
  margin-left: 80px;
  position: absolute;
}

.about__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  width: 502px;
  margin-top: 156px;
  margin-left: 80px;
  position: absolute;
  color: #060606;
}

.about__description p {
  margin-bottom: 43px;
}

.about__description p :last-child {
  margin-bottom: 0;
}

