html {
  font-family: "Open Sans";
  font-size: 16px;
}
body,
html {
  height: 100%;
}

body {
  color: #fff;
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
p {
  padding: 0;
  margin: 0; 
}


a {
  color: inherit ;
  cursor: pointer;
  text-decoration: none;
} 

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.wrapper--main {
  background: url(../../img/background.jpg) center top no-repeat;
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1141px;
  width: 100%;
  height: 100%;
}

.header,.main-content, footer {
  position: relative;
  z-index: 2;
}

.button {
  background: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  text-transform: uppercase;
  color:  #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  transition: 0.3s all;
  display: block;
  align-items: center;
}
.button:hover {
  background: #FFFFFF;
  color: #f5170e;
  border: 1px solid #da0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, .3);
}

.button--more {
  max-width: 165px;
  padding: 18px 40px;
}
.button--lihgt {
  background:transparent;
  color: #da0100;
  border: 1px solid #da0100;
  max-width: 135px;
  padding: 18px 29px;
}
.button--lihgt:hover {
  background: #f5170e;
  color: #fff;
  border: 1px solid #da0100;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  margin-bottom: 51px;
}

.title--fire {
  position: relative;
}
.title--fire:after {
  content: "";
  background: url(../../img/flame.png) no-repeat;
  margin-left: 10px;
  width: 21px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.title--darck {
  color: #000;
}


