.footer {
  height: 70px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.footer__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 66px;
  display: block;
}

.menu__list  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .menu__item {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
 }

 .footer__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

 .contacts__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
 }

 .contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #FFFFFF;
 }

 .social {
  margin-right: 73px;
 }

.social__list {
  display: flex;
  align-items: center;
 }

 .social__item {
  margin-right: 10px;
}

.social__item--tg {
  width: 36px;
  height: 36px;
  z-index: 1;
  background: url(../../icons/css_sprites.png) -11px -11px;
}

.social__item--tg:hover {
  background-position:   -243px -11px;
 }

 .social__item--vk {
  width: 36px;
  height: 36px;
  z-index: 1;
  background: url(../../icons/css_sprites.png) -69px -11px;
}

.social__item--vk:hover  {
  background-position:  -301px -11px;
 }

 .social__item--fb {
  width: 36px;
  height: 36px;
  z-index: 1;
  background: url(../../icons/css_sprites.png) -127px -11px;
}


 .social__item--fb:hover {
  background-position:  -359px -11px;
 }

 .social__item--inst {
  width: 36px;
  height: 36px;
  z-index: 1;
  background: url(../../icons/css_sprites.png) -185px -11px;
}


 .social__item--inst:hover {
  background-position:  -417px -11px;
 }


.footer--service {
  background: #001821;
  height: 90px;
  padding: 20px;
}

