.form {
  background: #F4F5F5;
  padding: 60px 0;
  
}

.form-reviews {
  margin-bottom: 23px;
}

.form__title {
  font-size: 48px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 60px;
  font-family: Open Sans;
}

.form__line {
  display: flex;
  margin-bottom: 26px;
  justify-content: space-between;
  align-items: center;
}

.form-reviews__input {
  border-radius: 5px;
  background: #FFFFFF;
  outline: none;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
  border: 1px solid transparent;
  width: 50%;
}

.form-reviews__input:first-child {
  margin-right: 28px;
}


.form-reviews__input:focus {
  border: 1px solid #F5170E;
}

.form-reviews__input::placeholder {
  color: #666666;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}


.form-reviews__input:last-child {
  margin-right: 0;
}

.form-reviews__textarea {
min-height: 235px;
width: 100%;
font-weight: normal;
font-size: 18px;
color: #666666;
resize: none;
outline: none;
border: 1px solid transparent;
border-radius: 5px;
padding: 30px;
font-family: Open Sans;
}

.form-reviews__textarea:focus {
  border: 1px solid #F5170E;
  margin-bottom: 23px;
}

.form-reviews__end {
  display: flex;
}


.form-reviews__text {
  color: #1A1B1E;
  font-size: 18px;
  line-height: 25px;
  margin-top: 34px;
  margin-right: 73px;
}

.form-reviews__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
}

.form-reviews__item {
  margin-bottom: 9px;
  margin-right: 14px;
}

.form-reviews__label {
  background: #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 15px;
  cursor: pointer;
  border-radius: 35px;
  color:  #303030;
}

.form-reviews__label-text {
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
cursor: pointer;
}


.form-reviews__radio-button:checked + .form-reviews__label{
  background: #B9EAE4 ;
}


.form__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.button--reset {
 background: #8E8E8E;
 cursor: pointer;
 border: 1px solid transparent;
 margin-right: 17px;
}

.button--reset:hover {
 background:  #2B2B2B;
 color: #FFFFFF;
 transition: 0.3s all;
 border: 1px solid transparent;
}

.button--sent {
  background: #F5170E;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 17px;
 }

 .button--sent:hover {
  background:  #2B2B2B;
  color: #FFFFFF;
  background: #F5170E;
  transition: 0.3s all;
  border: 1px solid transparent;
 }