.header {
  margin-top: 25px;
  margin-bottom: 100px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 66px;
} 
.menu__list  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-right: 54px; 
}

.menu__item :last-child {
  margin-right: 0px;
}

.menu__item :hover {
  color: #DA0100 ;
  transition: 0.3s all;
}


.header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

 .contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #FFFFFF;
 }

.contacts__info {
  position: relative;
}

 .contact__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-decoration-line: underline;
  color: #98A4A8;
 }

 .contact__link :hover{
  color:  #FFFFFF;
  transition: 0.3s all;
 }

 .contacts__list {
  background: #EDEDED;
  display: block;
  color: #1E1F20;
  line-height: 1.42em;
}

.contact__dropdown {
  background: #EDEDED;
  opacity: 0.8;
  border-radius: 4px;
  padding: 16px 20px;
  width: 180px;
  margin-top: 9px;
  text-align: left;
  font-size: 13px;
  position: absolute;
  right: -9999px;
  opacity: 0;
  transition: opacity 0.3s;
  color: #1E1F20;
}

.contacts__info:hover .contact__dropdown {
  right: 0;
  opacity: 1;
  pointer-events: visible;
}

.contact__dropdown:before {
  content: '';
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.contact__dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom-width: 9px;
  border-bottom-color: #EDEDED;
  border-top: 0;
  position: absolute;
  right: 67px;
  bottom: 100%;
}

.contact__item {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
}

.contact__item--break {
  font-weight: 600;
  font-family: Open Sans;
  font-style: normal;
  font-size: 13px;
}