.hello {
  margin-bottom: 246px;
}

.hello__title {
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 90px;
margin-bottom: 25px;
color: #FFFFFF;
}

.hello__text {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 35px;
  color: #FFFFFF;
}

.button {
  width: 168px;
}

